.canvas {
  position: fixed;
  z-index: 19;
  background: #fff;
  opacity: 0;
  transition: opacity 0.4s, transform 0.4s, transform-origin 0.4s;
}


.actions {
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 16px;
  gap: 8px;
  justify-content: flex-end;
  z-index: 200;
}

.actions svg {
  cursor: pointer;
}

.canvas canvas {
  width: 100% !important;
  height: 100% !important;
  border-radius: 6px;
}

.canvasFullscreen {
  border-radius: 0;
  overflow: hidden;
}

.canvasFullscreen canvas {
  border-radius: 0 !important;
  z-index: 100;
}
